// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../core/resource';
import * as AccountPricesAPI from '../account-prices/account-prices';
import { APIPromise } from '../../../core/api-promise';
import { RequestOptions } from '../../../internal/request-options';
import { path } from '../../../internal/utils/path';

/**
 * Manage customer accounts.
 */
export class Actions extends APIResource {
  /**
   * Merges one or more source customers into a target customer.
   *
   * Sales orders, invoices, shipments, deliveries, and other transaction records
   * from the source customers are reassigned to the target; price groups, product
   * line access, addresses, and users are consolidated without duplicates; child
   * accounts of the sources are re-parented to the target; the source customers are
   * then deleted.
   *
   * The target keeps its own name, number, default addresses, and default settings —
   * none of those are copied over from the sources, and the sources' notification
   * recipients are discarded rather than transferred.
   *
   * This endpoint requires the permissions: `customers:update` and
   * `customers:delete`.
   *
   * @example
   * ```ts
   * const customer = await client.sales.customers.actions.merge(
   *   'ac_opnlh43ymyee',
   *   { source_customer_ids: ['ac_opnlh43ymyee'] },
   * );
   * ```
   */
  merge(
    id: string,
    params: ActionMergeParams,
    options?: RequestOptions,
  ): APIPromise<AccountPricesAPI.Customer> {
    const { include, ...body } = params;
    return this._client.post(path`/v1/sales/customers/${id}/actions/merge`, {
      query: { include },
      body,
      ...options,
    });
  }
}

/**
 * Request to merge source customers into a target customer.
 */
export interface MergeCustomersRequest {
  /**
   * IDs of the source customers to merge into the target.
   *
   * Sources are deleted after the merge. The list must not contain duplicates or the
   * target customer's ID.
   */
  source_customer_ids: Array<string>;
}

export interface ActionMergeParams {
  /**
   * Body param: IDs of the source customers to merge into the target.
   *
   * Sources are deleted after the merge. The list must not contain duplicates or the
   * target customer's ID.
   */
  source_customer_ids: Array<string>;

  /**
   * Query param: Sub-objects to expand in the response. When omitted, sub-objects
   * are returned as `null`.
   */
  include?: Array<
    | 'bill_to_address'
    | 'ship_to_address'
    | 'type'
    | 'parent_account'
    | 'freight_preferences.carrier'
    | 'freight_preferences.carrier.service_levels'
    | 'freight_preferences.service_level'
    | 'defaults.payment_term'
    | 'defaults.shipping_term'
    | 'defaults.sales_rep'
    | 'defaults.sales_rep.user'
    | 'defaults.priority'
    | 'contact_info'
    | 'freight_preferences'
    | 'defaults'
    | 'notification_preferences'
    | 'price_groups'
    | 'child_accounts'
    | 'credit_limit'
    | 'credit_limit.unit'
  >;
}

export declare namespace Actions {
  export { type MergeCustomersRequest as MergeCustomersRequest, type ActionMergeParams as ActionMergeParams };
}
